@mixin flexCenter{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
@mixin flexAlign{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

@mixin mobile {
    @media screen and (max-width: $mobile){
        @content
    }
}
   

