* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

@media screen and (max-width: 768px) {
  header nav span svg {
    display: block;
  }
  header nav ul {
    display: none;
  }
  button {
    display: none;
  }
  .heroSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 3em;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}
header nav ul li {
  padding-right: 1em;
  list-style: none;
}
header nav ul li a {
  font-size: 15px;
  color: #7A7A7A;
  text-decoration: none;
}
header nav ul li a:hover {
  background-color: #058868;
  color: #ffffff;
  padding: 3px;
  border-radius: 5px;
  transition: all ease;
  transition-delay: 2ms;
}
header button {
  background-color: #058868;
  color: #FFFFFF;
  padding: 1em;
  border-radius: 10px;
  border: none;
}
header button:hover {
  opacity: 0.5;
  cursor: pointer;
}
header span svg {
  display: none;
}

@media screen and (max-width: 768px) {
  header span svg {
    display: block;
  }
  header nav ul {
    display: none;
  }
  button {
    display: none;
  }
  .heroSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .heroText h1 {
    width: 260px !important;
  }
  .heroText p {
    width: 263px !important;
  }
}
main {
  padding: 3em;
}
main .heroSection {
  display: flex;
  justify-content: space-around;
}
main .heroSection .heroText {
  margin-top: 2em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
main .heroSection .heroText h1 {
  width: 286px;
  color: #0D1321;
  font-weight: 800;
  font-size: 32px;
  letter-spacing: -0.305053px;
  padding-bottom: 1em;
}
main .heroSection .heroText p {
  width: 326px;
  color: #7A7A7A;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -0.305053px;
  padding-bottom: 1em;
}
main .heroSection .phoneDisplay img {
  width: 100%;
  height: auto;
}
main .sectionTwo h2 {
  text-align: center;
  font-size: 32px;
}
main .sectionTwo .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}
main .sectionTwo .cards > div {
  margin-top: 2em;
  padding: 2em;
  background: #ffffff;
  box-shadow: 0px 3.81317px 19.0658px rgba(0, 0, 0, 0.15);
  border-radius: 3.81317px;
}
main .sectionTwo .cards > div p {
  color: #7A7A7A;
  text-align: left;
  width: 239.28px;
}

.SectionThree {
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
  gap: 2em;
}
.SectionThree .easyText {
  flex: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.SectionThree .easyText h2 {
  padding-top: 1em;
  text-align: left;
  color: #484848;
  font-weight: 700;
  font-size: 32px;
  letter-spacing: -0.305053px;
}
.SectionThree .easyText p {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: -0.305053px;
}
.SectionThree .easyText button {
  padding: 1em;
  color: #FFFFFF;
  background-color: #058868;
  border: none;
  border-radius: 5px;
}
.SectionThree .easyText button:hover {
  opacity: 0.5;
  cursor: pointer;
}
.SectionThree .cashTransfer img {
  width: 100%;
  height: auto;
}

.sectionFour, .sectionFive {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sectionFour h2, .sectionFive h2 {
  color: #484848;
  font-weight: 700;
  font-size: 32px;
}
.sectionFour p, .sectionFive p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: -0.305053px;
}
.sectionFour img, .sectionFive img {
  width: 100%;
  height: auto;
}

.sectionSix {
  display: flex;
  justify-content: space-between;
}
.sectionSix h2 {
  color: #484848;
  font-weight: 700;
  font-size: 32px;
}
.sectionSix p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: -0.305053px;
}
.sectionSix button {
  padding: 1em;
  color: #FFFFFF;
  background-color: #058868;
  border: none;
  border-radius: 5px;
}
.sectionSix button:hover {
  cursor: pointer;
}
.sectionSix img {
  width: 100%;
  height: auto;
}

.sectionSeven .carousel {
  display: flex;
  flex-wrap: wrap;
}
.sectionSeven .carousel > div {
  margin-top: 2em;
  padding: 2em;
  background: #ffffff;
  box-shadow: 0px 3.81317px 19.0658px rgba(0, 0, 0, 0.15);
  border-radius: 3.81317px;
}
.sectionSeven .carousel > div p {
  color: #7A7A7A;
  text-align: left;
  width: 239.28px;
  line-height: 24.52px;
}
.sectionSeven .carousel > div h6 {
  color: #7A7A7A;
  text-align: left;
  line-height: 24.52px;
}

.ourPartner {
  margin-top: 2em;
  padding: 1em 2em;
  text-align: center;
  background-color: rgba(2, 84, 64, 0.1);
  color: #484848;
}
.ourPartner h2 {
  padding: 0.5em 0;
}

.sectionEight {
  background-color: rgba(2, 84, 64, 0.1);
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
}

footer {
  background-color: #058868;
}
footer .footerContent {
  display: flex;
  justify-content: space-between;
}
footer ul li {
  list-style-type: none;
  line-height: 1.5em;
}
footer ul li:nth-child(1) {
  font-size: larger;
  font-weight: 700;
  padding-bottom: 1em;
}
footer ul li a {
  text-decoration: none;
  color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  .SectionThree {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
  }
  .sectionFour, .sectionFive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
  }
  .sectionFive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .sectionSix {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .sectionEight {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .footerContent {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */