@media screen and (max-width: 302px) {
  header nav {
    gap: 6em !important;
  }
}
@media screen and (max-width: 768px) {
  header nav span svg {
    display: block;
  }
  header nav {
    padding: 2em 1em;
    gap: 10em;
  }
  header nav ul {
    display: none;
  }
  button {
    display: none;
  }
  .heroSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

header {
  padding: 2em;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5em;
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  color: #7A7A7A;
  text-decoration: none;
}
header nav ul li a:hover {
  background-color: #058868;
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  transition: all ease;
  transition-delay: 2ms;
}
header nav button {
  background-color: #058868;
  color: #FFFFFF;
  padding: 1em;
  border-radius: 10px;
  border: none;
}
header nav button:hover {
  opacity: 0.5;
  cursor: pointer;
}
header nav span svg {
  display: none;
}

@media screen and (max-width: 768px) {
  header nav span svg {
    display: block;
  }
  header nav ul {
    display: none;
  }
  button {
    display: none;
  }
  .heroSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
main {
  padding: 2em;
}
main .heroSection {
  display: flex;
  justify-content: space-around;
}
main .heroSection .heroText {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
main .heroSection .heroText h1 {
  color: #0D1321;
  font-weight: 800;
  font-size: 32px;
  letter-spacing: -0.305053px;
  padding-bottom: 1em;
}
main .heroSection .heroText p {
  color: #7A7A7A;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -0.305053px;
  padding-bottom: 1em;
}
main .heroSection .phoneDisplay img {
  width: 100%;
  height: auto;
}
main .sectionTwo h2 {
  text-align: center;
  font-size: 32px;
}
main .sectionTwo .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}
main .sectionTwo .cards > div {
  margin-top: 2em;
  height: 150px;
  padding: 2em;
  background: #ffffff;
  box-shadow: 0px 3.81317px 19.0658px rgba(0, 0, 0, 0.15);
  border-radius: 3.81317px;
}
main .sectionTwo .cards > div p {
  color: #7A7A7A;
  text-align: left;
  width: 239.28px;
}

.SectionThree {
  display: flex;
  justify-content: space-around;
  padding: 2em;
}
.SectionThree .easyText h2 {
  color: #484848;
  font-weight: 700;
  font-size: 32px;
  margin: auto;
}
.SectionThree .easyText p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: -0.305053px;
}
.SectionThree .easyText button {
  padding: 1em;
  color: #FFFFFF;
  background-color: #058868;
  border: none;
  border-radius: 5px;
}
.SectionThree .easyText button:hover {
  opacity: 0.5;
  cursor: pointer;
}
.SectionThree .cashTransfer img {
  width: 100%;
  height: auto;
}

.sectionFour {
  display: flex;
  justify-content: space-between;
}
.sectionFour h2 {
  color: #484848;
  font-weight: 700;
  font-size: 32px;
}
.sectionFour p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: -0.305053px;
}
.sectionFour img {
  width: 100%;
  height: auto;
}

.sectionFive {
  display: flex;
  justify-content: space-between;
}
.sectionFive h2 {
  color: #484848;
  font-weight: 700;
  font-size: 32px;
}
.sectionFive p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: -0.305053px;
}
.sectionFive img {
  width: 100%;
  height: auto;
}

.sectionSix {
  display: flex;
  justify-content: space-between;
}
.sectionSix h2 {
  color: #484848;
  font-weight: 700;
  font-size: 32px;
}
.sectionSix p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: -0.305053px;
}
.sectionSix button {
  padding: 1em;
  color: #FFFFFF;
  background-color: #058868;
  border: none;
  border-radius: 5px;
}
.sectionSix button:hover {
  cursor: pointer;
}
.sectionSix img {
  width: 100%;
  height: auto;
}

.sectionSeven .carousel {
  display: flex;
  flex-wrap: wrap;
}
.sectionSeven .carousel > div {
  margin-top: 2em;
  padding: 2em;
  background: #ffffff;
  box-shadow: 0px 3.81317px 19.0658px rgba(0, 0, 0, 0.15);
  border-radius: 3.81317px;
}
.sectionSeven .carousel > div p {
  color: #7A7A7A;
  text-align: left;
  width: 239.28px;
  line-height: 24.52px;
}
.sectionSeven .carousel > div h6 {
  color: #7A7A7A;
  text-align: left;
  line-height: 24.52px;
}

.ourPartner {
  margin-top: 2em;
  padding: 1em 2em;
  text-align: center;
  background-color: rgba(2, 84, 64, 0.1);
  color: #484848;
}
.ourPartner h2 {
  padding: 0.5em 0;
}

@media screen and (max-width: 768px) {
  .SectionThree {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
  }
  .sectionFour {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */