@import "./color";
@import "./config";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
header {
  padding: 2em;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1.5em;
      li {
        list-style: none;
        a {
          color: $pText;
          text-decoration: none;
          &:hover {
            background-color: $primary-color;
            color: #ffffff;
            padding: 5px;
            border-radius: 5px;
            transition: all ease;
            transition-delay: 2ms;
          }
        }
      }
    }
    button {
      background-color: $primary-color;
      color: $buttonText;
      padding: 1em;
      border-radius: 10px;
      border: none;
      &:hover {
        opacity: 0.5;
        cursor: pointer;
      }
    }
    span svg {
      display: none;
    }
  }
}
@media screen and (max-width: 768px) {
  header nav span svg {
    display: block;
  }
  header nav {
    // padding: 2em 1em;
    // gap: 10em;
  }
  header nav ul {
    display: none;
  }
  button {
    display: none;
  }
  .heroSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

main {
  padding: 2em;
  .heroSection {
    display: flex;
    justify-content: space-around;
    // padding: 2em;
    // align-items: flex-start;
    .heroText {
      // flex: 50%;
      // text-align: center;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
    }
    .heroText h1 {
      // width: 286px;
      // align-content: center;
      color: $h1Text;
      font-weight: 800;
      font-size: 32px;
      // line-height: 68px;
      letter-spacing: -0.305053px;
      // text-align: left;
      padding-bottom: 1em;
    }
    .heroText p {
      // width: 326px;
      color: $pText;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      // line-height: 29px;
      letter-spacing: -0.305053px;
      // text-align: left;
      padding-bottom: 1em;
    }
    .phoneDisplay img {
      width: 100%;
      height: auto;
    }
  }
  .sectionTwo {
    // padding: 2em;
    h2 {
      text-align: center;
      font-size: 32px;
      // width: 395px;
    }
    .cards {
      display: flex;
      flex-wrap: wrap;
      // justify-content: center;
      gap: 2em;
    }
    .cards > div {
      margin-top: 2em;
      height: 150px;
      padding: 2em;
      background: #ffffff;
      box-shadow: 0px 3.81317px 19.0658px rgba(0, 0, 0, 0.15);
      border-radius: 3.81317px;
      p {
        color: $pText;
        text-align: left;
        width: 239.28px;
        // display: none;
      }
    }
  }
}

.SectionThree {
  display: flex;
  justify-content: space-around;
  padding: 2em;
  .easyText {
    // flex: 90%;
    h2 {
      // width: 539px;
      color: $h22text;
      font-weight: 700;
      font-size: 32px;
      margin: auto;
      // line-height: 30px;
      // letter-spacing: -0.305053px;
    }
    p {
      
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 29px;
      letter-spacing: -0.305053px;
    }
    button{
      padding: 1em;
      color: $buttonText;
      background-color: $primary-color;
      border: none;
      border-radius: 5px;
      &:hover{
        opacity: 0.5;
        cursor: pointer;
      }
    }
  }
  .cashTransfer img {
    width: 100%;
    height: auto;
  }
}
.sectionFour{
  display: flex;
  justify-content: space-between;
  h2{
    color: $h22text;
      font-weight: 700;
      font-size: 32px;
  }
  p{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: -0.305053px;
  }
  img {
    width: 100%;
    height: auto;
  }
}
.sectionFive{
  display: flex;
  justify-content: space-between;
  h2{
    color: $h22text;
      font-weight: 700;
      font-size: 32px;
  }
  p{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: -0.305053px;
  }
  img {
    width: 100%;
    height: auto;
  }
}
.sectionSix{
  display: flex;
  justify-content: space-between;
  h2{
    color: $h22text;
      font-weight: 700;
      font-size: 32px;
  }
  p{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: -0.305053px;
  }
  button{
    padding: 1em;
    color: $buttonText;
    background-color: $primary-color;
    border: none;
    border-radius: 5px;
    &:hover{
      // opacity: 0.5;
      cursor: pointer;
    }
  }
  img {
    width: 100%;
    height: auto;
  }
}
.sectionSeven{
  .carousel{
    display: flex;
    flex-wrap: wrap;
  }
  .carousel > div{
    margin-top: 2em;
    // height: /50px;
    padding: 2em;
    // gap: 5em;
    background: #ffffff;
    box-shadow: 0px 3.81317px 19.0658px rgba(0, 0, 0, 0.15);
    border-radius: 3.81317px;
    p {
      color: $pText;
      text-align: left;
      width: 239.28px;
      line-height: 24.52px;

      // display: none;
    }
    h6{
      color: $pText;
      text-align: left;
      line-height: 24.52px;
    }
  }
}
.ourPartner{
  margin-top: 2em;
  // margin-right: 3em;
  // margin-left: 3em;
  padding: 1em 2em;
  text-align: center;
  background-color: $partner;
  color: $h22text;
  h2{
    padding: 0.5em 0;
  }
//   .partners{
//     display:flex;
//   }
//   .partners img{
// width: 100%;
// height: auto;
//   }

}

.sectionSeven{
  display: flex;
  justify-content: space-between;

}

footer{
  background-color: $primary-color;
}


@media screen and (max-width:768px ){
  .SectionThree{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
  } 
  .sectionFour{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
  }
}